name = "test-healing-project-test-func-healing"
main = "../dist/test-func-healing.js"
compatibility_date = "2024-01-01"

[build]
command = "npx esbuild \"services/test-func-healing/index.ts\" --bundle --outfile=dist/test-func-healing.js --format=esm --alias:@shared=./shared --minify"

[[d1_databases]]
binding = "DB"
database_name = "local-db"
database_id = "aerostack-local"

[[kv_namespaces]]
binding = "CACHE"
id = "local-kv"

[[queues.producers]]
binding = "QUEUE"
queue = "local-queue"

